<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>SWC Minecraft Launcher</title>

    <script src="../static/js/constants.js"></script>

    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    <script src="../static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../static/js/effects.js"></script>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/effects.css">
    <link rel="stylesheet" href="../static/css/custom-styles.css">

    <script src="../static/js/index.js" defer></script>
    <script src="../static/js/views/main.js" defer></script>
</head>
<body>
<div id="window-frame">
    <div class="frame-drag-section"></div>

    <div id="frame-inserts">
        <div id="user-dropdown"></div>
        <div id="game-info"></div>
    </div>

    <div class="frame-controls">
        <div class="frame-btn attach-candle" data-action="min">
            <img class="icon" src="../static/img/frame/min-w-30.png" alt="">
        </div>
        <div class="frame-btn attach-candle" data-action="t-size">
            <img class="icon" data-style="max" src="../static/img/frame/max-w-30.png" alt="">
            <img class="icon" data-style="restore" src="../static/img/frame/restore-w-30.png" alt="" hidden>
        </div>
        <div class="frame-btn attach-candle close_ico" data-action="close">
            <img class="icon" src="../static/img/frame/close-w-30.png" alt="">
        </div>
    </div>
</div>

<div id="main"></div>
</body>
</html>
